name: Calculator

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

jobs:
  lint_and_tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run flake8
        run: flake8 cal.py

      - name: Run tests
        run: pytest test_cal.py
